body{
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.lead{
    text-align: center;
}

#welcome{
    text-align: center;
    color: #f1faee;
    background-color: #457b9d;
    padding: 5px 25px;
    border-radius: 5px;
    width: 450px;
}

#description{
    text-align: center;
    color: #f1faee;
    background-color: #1D3557;
    padding: 10px 25px;
    border-radius: 10px;
}

#div_picture{
    background-image: url('Bilder/luftbild_wetzikon.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}